<footer class="footer">
	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/help">Help</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</footer>
