<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <% include partials/header.ejs %>
  <h1>Contact</h1>
  <p>This is the contact page for the <%= title %>.</p>
  <% include partials/footer.ejs %>
</body>

</html>

